# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/1337/
/broadcast/**/dry-run/
/broadcast/DeployFakeSelfInsuredVault.s.sol

# Docs
docs/

# Dotenv file
.env

json/
python/
Makefile
